Django==5.2.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-environ==0.13.0
dj-database-url==3.1.2
psycopg2-binary==2.9.10
gunicorn==25.3.0
qrcode[pil]==8.2
Pillow==11.2.1
celery[redis]==5.5.2
redis==6.1.0
